
/*font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;*/




.body{
  font-family: 'Montserrat-Black 900', sans-serif;
  text-align: center;
}
h1,h2,h3,h4,h5,h6
{
  font-family: 'Montserrat-Black 900',sans-serif;
}
/* Headingds */
.big-heading
{
  font-size:3.5rem;
  font-family: 'Montserrat-Black 900', sans-serif;
  line-height: 1.5;
  font-weight: bolder;
}
/* Navigation bar */
.navbar{
  padding-bottom:  4.5rem ;
}
.nav-link
{
  font-size: 1.5rem;
  font-family: 'Nontserrat-Light';
  font-weight: lighter;
}
.nav-item
{
  padding:0 16px;
}
.navbar-brand
{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
/* Download-button */
.download-button
{
  margin:5% 3% 5% 0;
}

/* Title image */
.title-image{
  width:60%;
  transform: rotate(25deg);
  position:relative;
  margin-bottom: -20%;
  left:20%;

}
/* Title */
#title
{
  background-color: #ff4c68;
  text-align: left;
}
#title .container-fluid
{
  padding:3% 15% 0;
}
/* Container */
.container-fluid
{
  padding: 7% 15%;
}
/* Sections */
.colored-section
{
  background-color: #ef8172;
  color:#ffff;
}
.white-section
{
    background-color: #ffff;
}
/* Features */
#features
{
  background-color: #ffff;
  position:relative;
  z-index:1;
}
.feature-box
{
  padding:5%;
}
.icon
{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover
{
  color:#ff4c68;
}
.feature-title
{
  font-weight: bolder;
  font-size: 1.5rem;
}
/* Testimonials */

.carousel-item
{
  text-align: center;
}
.testimonials-image{
  width:10%;
  border-radius: 100%;
  margin:20px;
}
.testimonial-text
{
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}
#press{

  padding-bottom: 3%;
}
.press-logo
{
  width:15%;
  margin:20px 20px 50px;
}

/* Pricing Section */
#pricing
{
  background-color: #ffff;
  padding:100px;
}
.pricing-column
{
  padding:3% 2%;
}
.pricing-text
{
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}

/* Call to Action */
#cta
{
    background-color: #ff4c68;
  text-align: center;
  }

@media(max-width:1028px)
{
  #title
  {
    text-align: center;
  }
  .title-image
  {
    position: static;
    transform:rotate(0);
    margin-bottom:0;
  }
}
/* FOOTER SECTION */
#footer
{

  text-align:center;
}
.social-icon
{
  margin:20px 10px;
}
